AWS__Region=us-east-1
AWS__UserPoolId=REEMPLAZAR_USER_POOL_ID
AWS__ClientId=REEMPLAZAR_CLIENT_ID
AWS__BucketName=REEMPLAZAR_BUCKET_NAME
AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_DEFAULT_REGION=us-east-1
AWS__DynamoDBTableName=NOMBRE_TABLA_DYNAMODB